NODE_ENV=dev

SERVER_PORT=5000
SERVER_PORT_TEST=5001

DB_HOST=localhost
DB_PORT=3306
DB_USER=your_username
DB_PASS=your_password
DB_NAME=api_database_name
FRONTEND_URL=http://lurldevotrefrontend


# Prisma env
DATABASE_URL="provider://providerusername:providerpassword@host:port/dbname"